@import "mixins";

:host ::ng-deep {
  nav {
    flex-direction: column;
    background-color: #fff;
    transition: all 200ms;
    padding: 0;

    .nav-item {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }

    .secondary-navbar {
      border-top: 1px solid #eff2f5;
    }
  }

  .sidebar {
    background-color: #1a1a27;
    width: $sidebar-close-width;
    position: fixed;
    right: 0;
    height: 100%;
    top: 0;
    z-index: 100;
    overflow: hidden;
    white-space: nowrap;
    transition: all 200ms;

    &:hover {
      width: $sidebar-open-width ;
      ng-logo ,img {
        display: block;
      }
    }

    ng-logo ,img{
      display: none;
    }

    &.visible {
      width: $sidebar-open-width;

      ng-logo ,img{
        display: block;
      }
    }

    .section-top {
      background-color: #1e1e2d;
      height: 100px;

      i {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .p-panelmenu {
      &-header-link {
        flex-direction: row-reverse;
        justify-content: flex-start;

        &:focus {
          box-shadow: none;
        }

        .p-menuitem {
          &-text {
            color: #6c757d !important;
          }

          &-icon {
            margin-right: 0;
            margin-left: 1.25rem;
            min-width: 20px;
            max-width: 20px;
            text-align: center;
          }

          &-link-active {
            color: azure !important;

            span {
              color: azure !important;
            }
          }
        }
      }

      // &-content {
      //   background-color: transparent !important;
      //   border-color: transparent;
      //   direction: rtl;
      //   padding-right: 10px;
      // }

      .p-panelmenu-header-link {
        background-color: #1a1a27;
        border: 0;

        //   .p-menuitem-icon {
        //     position: absolute;
        //   }

        //   .p-menuitem-text {
        //     margin-right: 30px;
        //   }

        //   &:hover {
        //     color: azure;
        //     background-color: #1a1a27;
        //   }

        //   &:focus {
        //     box-shadow: none;
        //   }
      }

      p-panelmenusub ul li a {
        span {
          margin-right: 5px !important;
          color: #62659b !important;
        }

        &:focus {
          box-shadow: none !important;
        }

        &:hover {
          span {
            color: azure !important;
          }

          background-color: #1a1a27 !important;
        }
      }
    }
  }

  p-menu {
    .menuitem {
      direction: rtl !important;
    }
  }
}