<nav class="navbar navbar-expand-sm shadow-sm fixed-top">
  <div class="collapse navbar-collapse w-100 p-3">
    <ul class="navbar-nav p-0 mr-auto w-100 justify-content-start ">
      <li class="nav-item  ml-3" (click)="accountMenu.toggle($event)">
        <p-avatar icon="fad fa-user" shape="circle"></p-avatar>
      </li>
    </ul>
  </div>
  <div class="w-100 d-flex justify-content-end secondary-navbar p-3">
    داشبورد فروشگاه
  </div>
</nav>

<div class="sidebar" [class.visible]="sidebarVisible">
  <div class="d-flex align-items-center justify-content-between p-3 sticky-top section-top">
    <i #sidebarIcon class=" rounded-circle p-2 pi pi-angle-double-{{sidebarVisible ? 'right' : 'left'}}"
      (click)="toggleSidebar()"></i>
    <div class="d-flex">
      <img class="pr-3" width="70px" src="../../../../assets/images/logo-text.svg">
      <ng-logo width="50px"></ng-logo>
    </div>
  </div>
  <p-panelMenu *ngFor="let sidebarItem of sidebarItems" [multiple]="false" [model]="[sidebarItem]"></p-panelMenu>
</div>

<p-menu #accountMenu [baseZIndex]="1000" [popup]="true" [model]="accountItems"></p-menu>