@import "variable";

:host ::ng-deep {
  .main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 120px;

    main {
      transition: all 200ms;
      flex: 1;
    }

    main,
    nav {
      margin-right: $sidebar-close-width;
    }

    &.sidebar-open {
      main,
      nav {
        margin-right: $sidebar-open-width;
      }
    }

    .p-panelmenu-header-link {
      justify-content: space-between;
    }
  }
}
